/* Classes */
 
.astext {
    font-family: Arial, sans-serif
}
/* Body and stuff */
 
body {
    background-image: url(http://img05.deviantart.net/09e0/i/2014/130/3/7/omega_ruby___groudon_by_rakkushi-d7hrrw8.png);
    background-size: cover;
    background-color: #B20000;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.dark body {
    background-image: url(http://img05.deviantart.net/09e0/i/2014/130/3/7/omega_ruby___groudon_by_rakkushi-d7hrrw8.png);
    background-color: #990000;
    background-size: cover;
    background-repeat: no-repeat;
}

.ps-room.ps-room-light {
    background: rgba(255, 255, 255, 0.7);
    border-color: #B20000;
}

.ps-room.ps-room-light.scrollable {
    background: rgba(251, 51, 51, 0.4);
}

.rooms-officialchatrooms,
.rooms-chatrooms {
    color: #000;
}

.dark .rooms-officialchatrooms,
.dark .rooms-chatrooms {
    color: #000;
}

.ps-room.ps-room-light.scrollable p {
    color: #000;
}

.dark .ps-room.ps-room-light.scrollable p {
    color: #000;
}

.ps-room.ps-room-light.scrollable .button {
    background: rgba(102, 0, 0, 0.2);
    border: 1px solid;
    border-color: #000;
    color: rgba(0, 0, 0, 0.2)
}

.ps-room.ps-room-light.scrollable .button:hover {
    background: rgba(102, 0, 0, 0.1);
    border-color: #000;
}
.chat.mine,
.dark .chat.mine {
    background: rgba(0, 0, 0, 0.0);
}

.broadcast-red {
    background: #b30000;
    border: 1px solid;
    border-color: #000;
    text-align: center;
    padding: 8px;
    margin: 5px;
}

.broadcast-red button {
    background: #cc0000;
    border: 1px solid;
    color: #ff3333;
    padding: 2px 8px;
}

.broadcast-red a {
    background: #cc0000;
}

.broadcast-red button:hover {
    background: #b30000;
}

.ps-overlay {
    background: rgba(0, 0, 0, 0.35)
}

/* Header */
 
.header {
    background: rgba(153, 0, 0, 0.4) url(http://i.imgur.com/w782spV.png) no-repeat;
}

.header .logo {
    opacity: 0;
}

.dark .header {
    background: rgba(0, 34, 51, 0.8) url(http://i.imgur.com/w782spV.png) no-repeat;
}

.maintabbarbottom {
    background: #cc0000;
    opacity: 0.4;
}

.tabbar a.button {
    border-color: #cc0000;
    background: rgba(204, 0, 0, 0.4);
}

.tabbar a.button:hover {
    background: rgba(204, 0, 0, 0.2);
}

.tabbar a.button.notifying {
    background: #FFE0A7;
    border-color: rgba(0, 153, 230, 0.5);
    color: rgba(0, 153, 230, 0.5);
}

.tabbar a.button.notifying:hover {
    background: #F9D990;
    border-color: rgba(255, 255, 128, 0.5);
    color: rgba(255, 255, 128, 0.5);
}

.tabbar a.button.subtle-notifying,
.tabbar a.button.subtle-notifying:hover {
    color: rgba(255, 255, 128, 0.5);
}

.userbar button.icon {
    border: 1px solid #cc0000;
    background: rgba(230, 247, 255, 0.8);
    color: #cc0000;
    text-shadow: 0px 0px 2px #00111a;
}

/* Room List */
 
.roomlist a.ilink {
    color: #000;
}

.roomlist a.ilink:hover {
    background: url(http://cdn.bulbagarden.net/upload/b/bc/383MS.png) no-repeat right;
    background-position: 350px
}

.roomcounters .picon {
    background: transparent url(http://cdn.bulbagarden.net/upload/b/bc/383MS.png) no-repeat bottom !important;
}

/* Default Pm window */
 
.pm-window h3 {
    border-color: #cc0000;
    background: rgba(153, 0, 0, 0.4) url(http://cdn.bulbagarden.net/upload/b/bc/383MS.png) right no-repeat;
    background-position: 215px;
    color: #FFF;
}

.pm-window h3:hover {
    background: rgba(153, 0, 0, 0.2) url(http://cdn.bulbagarden.net/upload/b/bc/383MS.png) right no-repeat;
    background-position: 215px;
    color: #FFF;
}

.pm-window h3 small {
    color: #FFF;
}

.pm-window.focused h3,
.pm-window.focused h3:hover {
    border-color: #cc0000;
    background: rgba(153, 0, 0, 0.3) url(http://cdn.bulbagarden.net/upload/b/bc/383MS.png) right no-repeat;
    background-position: 215px;
    color: #FFF;
}

/* CHAT */
 
.userlist {
    background: rgba(153, 0, 0, 0.3);
    border-color: #cc0000;
    color: #000;
}

.userlist li {
    border-color: #cc0000;
}

.userlist li em.group {
    color: #000;
}


.userlist li button:hover,
.userlist-minimized .userlist-count:hover {
    background: rgba(230, 247, 255, 0.8);
}

.infobox {
    border-color: #cc0000;
}

.chat-log {
    color: #000;
}

.dark .chat-log {
    color: #FFF;
}

.chat-log .chat small {
    color: #cc0000;
}

.chat-log .chat.mine.chat small {
    color: #b30000;
}

.chat-log-add {
    border-color: #002133;
    background: rgba(0, 85, 128, 0.6);
}

.chat-log-add .textbox {
    border-color: #002133;
}

.chatbox label {
    text-shadow: 0px 0px 2px #002133;
}

/* Tour */
 
.tournament-title {
    background: rgb(230, 0, 0);
    color: #FFF;
}

.tournament-status,
.tournament-toggle {
    background: rgba(153, 0, 0, 0.3);
    border-color: #cc0000;
    color: #000;
}

.tournament-tools {
    border-color: #cc0000;
    background: rgba(230, 0, 0, 0.7);
}

.tournament-tools .select {
    border-color: #cc0000;
    background: rgba(153, 0, 0, 0.4);
    color: #FFF;
}

.tournament-tools .select:hover {
    background: #0077b3;
}

.tournament-tools .select:disabled,
.tournament-tools .select:disabled:hover {
    background: rgba(153, 0, 0, 0.6);
    color: #FFF;
    border-color: #cc0000;
}

.tournament-tools .button {
    border-color: #cc0000;
    background: rgba(153, 0, 0, 0.4);
    color: #000;
}
